{%load static %}  

    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src=" {% static 'img/vendor-1.png' %} " alt="">
                </div>
                <div class="bg-light p-4">
                    <img src=" {% static 'img/vendor-2.png' %} " alt="">
                </div>
                <div class="bg-light p-4">
                    <img src=" {% static 'img/vendor-3.png' %} " alt="">
                </div>
                <div class="bg-light p-4">
                    <img src=" {% static 'img/vendor-4.png' %} " alt="">
                </div>
                <div class="bg-light p-4">
                    <img src=" {% static 'img/vendor-5.png' %} " alt="">
                </div>
                <div class="bg-light p-4">
                    <img src=" {% static 'img/vendor-6.png' %} " alt="">
                </div>
                <div class="bg-light p-4">
                    <img src=" {% static 'img/vendor-7.png' %} " alt="">
                </div>
                <div class="bg-light p-4">
                    <img src=" {% static 'img/vendor-8.png' %} " alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Kontakt</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>Sarajevska b.b, Zavidovici</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>+387 61 638 679</p>
                <p><i class="fa fa-envelope text-white mr-3"></i>info@example.com</p>
                <h6 class="text-uppercase text-white py-2">Zaprati nas</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square" href="https://www.instagram.com/autosevenikasko/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Linkovi</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="index.html"><i class="fa fa-angle-right text-white mr-2"></i>Nigh Club Seven</a>
                    <a class="text-body mb-2" href="seven.html"><i class="fa fa-angle-right text-white mr-2"></i>Auto Seven</a>
                    <a class="text-body mb-2" href="contact.html"><i class="fa fa-angle-right text-white mr-2"></i>Kontakt</a>
                    <a class="text-body mb-2" href="car.html"><i class="fa fa-angle-right text-white mr-2"></i>Ponuda Auta</a>
                    <a class="text-body mb-2" href="detail.html"><i class="fa fa-angle-right text-white mr-2"></i>Rent Ponuda</a>
                    <a class="text-body" href="service.html"><i class="fa fa-angle-right text-white mr-2"></i>Usluge</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Auto Galerija</h4>
                <div class="row mx-n1">
                    <div class="col-4 px-1 mb-2">
                        <a href=" https://www.instagram.com/autosevenikasko/"><img class="w-100" src=" {% static 'img/gallery-1.jpg' %} " alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=" https://www.instagram.com/autosevenikasko/ "><img class="w-100" src=" {% static 'img/gallery-2.jpg' %} " alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=" https://www.instagram.com/autosevenikasko/"><img class="w-100" src=" {% static 'img/gallery-3.jpg' %} " alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=" https://www.instagram.com/autosevenikasko/ "><img class="w-100" src=" {% static 'img/gallery-4.jpg' %} " alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=" https://www.instagram.com/autosevenikasko/ "><img class="w-100" src=" {% static 'img/gallery-5.jpg' %} " alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=" https://www.instagram.com/autosevenikasko/ "><img class="w-100" src=" {% static 'img/gallery-6.jpg' %} " alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Novosti</h4>
                <p class="mb-4">Nagradna igra...</p>
                <div class="w-100 mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control bg-dark border-dark" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-uppercase px-3">Sign Up</button>
                        </div>
                    </div>
                </div>
                <i>Izvlacenje 01.01.2050</i>
            </div> 
        </div>
    </div>
    <div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
        <p class="mb-2 text-center text-body">&copy; <a href="https://instagram.com/faazlla">faazlla</a>. All Rights Reserved.</p>
		
		<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->					
        <p class="m-0 text-center text-body">Designed by <a href="https://htmlcodex.com">HTML Codex</a></p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src=" {% static 'lib/easing/easing.min.js' %} "></script>
    <script src=" {% static 'lib/waypoints/waypoints.min.js' %} "></script>
    <script src=" {% static 'lib/owlcarousel/owl.carousel.min.js' %} "></script>
    <script src=" {% static 'lib/tempusdominus/js/moment.min.js' %} "></script>
    <script src=" {% static 'lib/tempusdominus/js/moment-timezone.min.js' %} "></script>
    <script src=" {% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %} "></script>

    <!-- Template Javascript -->
    <script src=" {% static 'js/main.js' %} "></script>
