{% extends "auto-base.html" %}
{% load static %}

{%block content%}



    <!-- Page Header Start -->
    <div class="container-fluid page-header" style="margin-top:50px;">
        <h1 class="display-3 text-uppercase text-white mb-3">Ponuda</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href=" seven.html">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Ponuda</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Rent A Car Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Pronadji svoj auto</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src=" {% static 'img/a7.png' %} " alt="">
                        <h4 class="text-uppercase mb-4">Audi A5</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2015</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>205K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href=" contact.html ">17,800.00 BAM</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item active mb-4">
                        <img class="img-fluid mb-4" src=" {% static 'img/a2.png' %} " alt="">
                        <h4 class="text-uppercase mb-4">Audi A5</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2015</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>250K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="contact.html ">20,500.00 BAM</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src=" {% static 'img/a3.png' %} " alt="">
                        <h4 class="text-uppercase mb-4">Toyota Land Cruiser</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2015</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>95K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href=" contact.html ">28,000.00 BAM</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src=" {% static 'img/a4.png' %} " alt="">
                        <h4 class="text-uppercase mb-4">Mercedes-Benz c180</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2015</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>215K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="contact.html ">14,000.00 BAM</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src=" {% static 'img/a5.png' %} " alt="">
                        <h4 class="text-uppercase mb-4">Range Rover Sport</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2015</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>118K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href=" contact.html ">7,000.00 BAM</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src=" {% static 'img/a6.png' %} " alt="">
                        <h4 class="text-uppercase mb-4">BMW F10</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2015</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>125K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="contact.html ">10,000.00 BAM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rent A Car End -->




{% endblock %}