{% extends "auto-base.html" %}
{% load static %}

{%block content%}


   

    <!-- Page Header Start -->
    <div class="container-fluid page-header" style="margin-top:50px;">
        <h1 class="display-3 text-uppercase text-white mb-3">Usluge</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href=" seven.html ">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Usluge</h6>
        </div>
    </div>
    <!-- Page Header Start -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <!--<h1 class="display-1 text-primary text-center">02</h1>-->
            <h1 class="display-4 text-uppercase text-center mb-5">Nase Usluge</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-taxi text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">01</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Rent Auta</h4>
                        
                        <p class="m-0">Zaprati nas na nasim stranicama</p></br>
                        <div class="d-inline-flex align-items-center">
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-body pl-3" href="  ">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-money-check-alt text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">02</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Registracija</h4>
                        <p class="m-0">Zaprati nas na nasim stranicama</p></br>
                        <div class="d-inline-flex align-items-center">
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-body pl-3" href="  ">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-car text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">03</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Uvoz i Prodaja</h4>
                        <p class="m-0">Zaprati nas na nasim stranicama</p></br>
                        <div class="d-inline-flex align-items-center">
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-body pl-3" href="  ">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-cogs text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">04</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Popravke</h4>
                        <p class="m-0">Zaprati nas na nasim stranicama</p></br>
                        <div class="d-inline-flex align-items-center">
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-body pl-3" href="  ">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-spray-can text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">05</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Detailing</h4>
                        <p class="m-0">Zaprati nas na nasim stranicama</p></br>
                        <div class="d-inline-flex align-items-center">
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-body pl-3" href="  ">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-pump-soap text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">06</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Dubinsko Ciscenje</h4>
                        <p class="m-0">Zaprati nas na nasim stranicama</p></br>
                        <div class="d-inline-flex align-items-center">
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-body px-3" href="  ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-body pl-3" href="  ">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Banner Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="bg-banner py-5 px-4 text-center">
                <div class="py-5">
                    <h1 class="display-1 text-uppercase text-primary mb-4">20% POPUST</h1>
                    <h1 class="text-uppercase text-light mb-4">Poseban popust za full uslugu dubinskog ciscenja</h1>
                    <p class="mb-4">Od 1. Januara do 30. Jan 2045</p>
                    <a class="btn btn-primary mt-2 py-3 px-5" href=" ">Register Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->




    {% endblock %}